@import url("./src/components/compartidos/colors.css");

.timer {
  color: var(--text);
  font-size: 35px;
  height: 100%;
}
#timer_container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.timerbtn {
  background: none;
  border: none;
  color: var(--text);
  font-size: 35px;
}